<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Colors in Spanish</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
  </head>
  <body>
    <h1>Colors</h1>
    <h2>Learn the colors in Spanish!</h2>
    <h3 class="color-title" id="red">Rojo</h3>
    <img src="{{url_for('static', filename='images/red.png')}}" alt="red" />
    <h3 class="color-title" id="blue">Azul</h3>
    <img src="{{url_for('static', filename='images/blue.png')}}" alt="blue" />
    <h3 class="color-title" id="orange">Anaranjado</h3>
    <img src="{{url_for('static', filename='images/orange.png')}}" alt="orange" />
    <h3 class="color-title" id="yellow">Amarillo</h3>
    <img src="{{url_for('static', filename='images/yellow.png')}}" alt="yellow" />
    <h3 class="color-title" id="green">Verde</h3>
    <img src="{{url_for('static', filename='images/green.png')}}" alt="green" />
  </body>
</html>
